<% if @question.errors.present? %>
  <% @question.errors.full_messages.each do |message| %>
    $('.question-edit-errors').append('<ul><li><%= j message %></li></ul>');
  <% end %>
<% else %>
  <% if remotipart_submitted? %>
    $('<%= "#question-#{ @question.id }" %>').replaceWith('<%= j "#{render partial: "question"}" %>');
  <% else %>
    $('<%= "#question-#{ @question.id }" %>').replaceWith('<%= j render partial: "question" %>');
  <% end %> 
  $('.question-edit-errors').empty();
<% end %>